<h1 style="font-weight: bold;">Hello</h1>

<img src="https://d585tldpucybw.cloudfront.net/sfimages/default-source/blogs/templates/angulart2-light-1200x303.png?sfvrsn=4af99b70_4" alt="angular_logo" />

<h2>Welcome @Model.name! Thank you for your registration!</h2>

<p>Just one more step to complete your registration!</p>

<p>Please click the link below to verify your email:</p>

<p style="color: blue;">Verify Email</p>

<p>Thank you!</p>